<% count_categories = @categories.length %>

<div id="main_content" class="grey lighten-5">
  <div class="container">
    <div class="section">
      <h4 class="center-align blue-text"><%= @problem %></h4>
    </div>

    <div id="category_area" class="sortable-category">
      <% @categories.each do |i, category| %>
        <% if i.to_i < count_categories - 1 %>

          <div class='category'>
            <hr>
            <div class='category-name-wrapper mb-3 mt-5'>
              <h6 class='show-category-name-wrapper center-align'>
                <i class='material-icons left pointer handle'>reorder</i>
                <span class='category-name yellow-text text-darken-4 pointer' onclick='edit_category($(this))'><%= category %></span>
                <i class='material-icons right delete-category pointer red-text' onclick='delete_category($(this))'>close</i>
              </h6>
            </div>
            <ul class="sortable-answer collection mb-5">
              <% if @answers[i].present? %>
                <% @answers[i].each do |ans| %>
                <li class='collection-item py-2 center-align'>
                  <div class='answer'>
                    <i class='material-icons left pointer handle'>reorder</i>
                    <span class='answer-text pointer' onclick='edit_answer($(this))'><%= ans %></span>
                    <i class='material-icons right delete-answer pointer red-text' onclick='delete_answer($(this))'>close</i>
                  </div>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>

        <% elsif i.to_i == count_categories - 1 %>
          </div>

          <hr>
          <div class="section">
            <div class="section center">
              <button type="button" id="add_category_button" class="btn waves-effect waves-light yellow grey-text text-darken-4"><i class="material-icons left">add</i>Add Category</button>
            </div>
            <!-- <div id="no_category"> -->
              <ul id="no_category" class="collection sortable-answer">
                <% if @answers[i].present? %>
                  <% @answers[i].each do |ans| %>
                    <li class='collection-item py-2 center-align'>
                      <div class='answer'>
                        <i class='material-icons left pointer handle'>reorder</i>
                        <span class='answer-text pointer' onclick='edit_answer($(this))'><%= ans %></span>
                        <i class='material-icons right delete-answer pointer red-text' onclick='delete_answer($(this))'>close</i>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <!-- </div> -->
          </div>
        <% end %>
      <% end %>

    <div class="section center pb-5">
      <%= form_with url: result_path, id: :finish_ks_form, method: :get do |form| %>
        <div id="hidden_area">
          <%= hidden_field_tag :problem, @problem %>
          <%= hidden_field_tag :limit_time, @limit_time %>
        </div>
        <button type="button" id="finish_ks_button" class="btn waves-effect waves-light" data-turbolinks="false">
          <i class="material-icons left">check</i>FINISH
        </button>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "layouts/advertise_result" %>
