<div id="main_content" class="grey lighten-5">
  <div class="container">
    <div class="section">
      <%= render "problem_card", problem: @problem %>
    </div>

    <div class="section">
      <% @categories.each do |category| %>
        <hr>
        <h5 class="center-align blue-text my-2"><%= category[1] %></h5>
        <% if @answers[category[0]].present? %>
          <div class="row mb-0">
            <% @answers[category[0]].each do |ans| %>
              <div class="col s12">
                <div class="card my-1">
                  <div class="card-content center-align"><%= ans %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="section center-align">
      <h5>Share result</h5>
      <div style="font-size: 3rem;">
        <i id="share_result_on_twitter" class="fab fa-twitter mx-2" style="color: #55acee; text-decoration: none; cursor: pointer;"></i>
        <i id="share_result_on_facebook" class="fab fa-facebook mx-2" style="color: #3B5998; text-decoration: none; cursor: pointer;"></i>
        <i id="copy_icon" class="far fa-copy mx-2 h4" style="cursor: pointer;"></i>
      </div>
    </div>

  </div>
</div>

<%= render partial: "layouts/advertise" %>

<%# copy area %>
<div id="copy_area" class="hide">
<pre>
#<%= @problem %>

<% @categories.each do |category| %>
【<%= category[1] %>】
<% if @answers[category[0]].present? %>
<% @answers[category[0]].each do |ans| %>
・<%= ans %>
<% end %>
<% end %>
<% end %>
</pre>
</div>
