<div class="container mb-5">
  <%= render partial: "layouts/share" %>
  <p class="h2 mb-5 text-center text-secondary">おつかれさまでした</p>
  <p class="mb-1 h5 text-center">"<%= @problem %>"</p>
  <p class="mb-3 h5 text-center">をブレストした結果</p>
  <% if @answers.present? %>
    <%= render partial: "answer_list", locals: { answers: @answers } %>
  <% else %>
    <p class="mb-5 text-center">何も思いつきませんでした...</p>
  <% end %>
  <%= link_to "トップページ", root_path, id: "top_link", class: "btn btn-secondary w-50 d-block mx-auto" %>
</div>

<%= render partial: "advertise" %>
