<div id="main_content" class="grey lighten-5">
  <div class="container">
    <div class="section">
      <h4 class="center-align blue-text"><%= @problem %></h4>
    </div>

    <% @categories.each do |i, category| %>
      <hr>
      <div class="section">
        <% if category != "" %>
          <h6 class="yellow-text text-darken-4 center-align mb-3"><%= category %></h6>
        <% end %>
        <% if @answers[i].present? %>
          <ul class="collection">
            <% @answers[i].each do |ans| %>
              <li class="collection-item py-2 center-align"><%= ans %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="section center-align">
      <div class="mb-5">
        <%= form_with url: matome_path, local: true, method: :get do |form| %>
        <%= hidden_field_tag :problem, @problem %>
        <%= hidden_field_tag :limit_time, @limit_time %>
        <% @categories.each do |i, category| %>
          <%= hidden_field_tag "categories[#{i}]", category %>
          <% if @answers[i].present? %>
            <% @answers[i].each do |ans| %>
              <%= hidden_field_tag "answers[#{i}][]", ans %>
            <% end %>
          <% end %>
        <% end %>

        <button type="submit" id="matome_link" class="btn-large yellow grey-text text-darken-3" data-turbolinks="false">
          <i class="material-icons left">edit</i>編集する
        </button>
        <% end %>
      </div>

      <hr>

      <div class="py-5">
        <h5 class="mb-3 mt-0">RESULT SHARE</h5>
        <div>
          <i id="share_result_on_twitter" class="fab fa-twitter mx-2 sns-icon white-text z-depth-2 hoverable" style="background-color: #55acee;"></i>
          <i id="share_result_on_facebook" class="fab fa-facebook-f mx-2 sns-icon white-text z-depth-2 hoverable" style="background-color: #3B5998;"></i>
          <i id="copy_icon" class="far fa-copy mx-2 sns-icon white z-depth-2 hoverable"></i>
        </div>
      </div>

      <hr>

      <div class="section">
        <div>
          <%= link_to set_path(problem: @problem, limit_time: @limit_time), id: :set_link, class: "btn waves-effect waves-light mb-3 mt-4" do %>
          <i class="material-icons left">replay</i>もう一度
          <% end %>
        </div>
        <div>
          <%= link_to root_path, id: :top_link, class: "btn grey waves-effect waves-light", "data-turbolinks": false do %>
          <i class="material-icons left">arrow_back</i>トップへ
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>

<%= render partial: "layouts/advertise_result" %>

<%# copy area %>
<div id="copy_area" class="hide">
<pre>
#<%= @problem %>

<% @categories.each do |i, category| %>
<% if category != "" %>
【<%= category %>】
<% else %>
----------
<% end %>
<% if @answers[i].present? %>
<% @answers[i].each do |ans| %>
・<%= ans %>
<% end %>
<% end %>
<% end %>
</pre>
</div>
