<div class="container my-5">
  <div class="mb-5">
    <h1 id="limit_time" class="text-center mb-3"><%= @setting.limit_time %></h1>
    <p class="h3 text-center"><%= @setting.problem %></p>
  </div>
  <div id="answer_area">
    <form id="add_answer_form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="answer" name="answer" class="form-control" aria-describedby="add_button" autofocus>
          <div class="input-group-append">
            <button type="submit" id="add_button" class="btn btn-secondary">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ul id="answer_list" class="mb-5 list-group">
  </ul>

  <%= form_with url: result_path, local: true, id: "result_form" do |form| %>
    <%= hidden_field_tag :problem, @setting.problem %>
    <div id="post_answer_list"></div>
    <%= form.submit "出し切った！", id: "finish_brasto_button", class: "fixed-bottom btn btn-secondary d-block mx-auto w-100 rounded-0", data: { confirm: "ブレストを完了しますか？" } %>
  <% end %>
</div>
