<div id="eye_catch" class="vh-center">
  <div style="position: absolute; top: 2rem; right: 2rem;">
    <a class="fab fa-twitter mr-1 white-text center-align sns-icon" style="background-color: #55acee;" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.toriaezu-brasto.tk&hashtags=%E3%81%A8%E3%82%8A%E3%81%82%E3%81%88%E3%81%9A%E3%83%96%E3%83%AC%E3%82%B9%E3%83%88" target="_blank"></a>
    <a class="fab fa-facebook-f white-text center-align sns-icon" style="background-color: #3B5998;" href="https://www.facebook.com/dialog/share?app_id=832453100439280&display=popup&href=https%3A%2F%2Fwww.toriaezu-brasto.tk" target="_blank"></a>
  </div>
  <div class="center-align">
    <h1 id="top_title" class="white-text mb-2">とりあえず<br class="hide-on-med-and-up">ブレスト</h1>
    <h5 class="white-text mb-5">Your answer is in Your head.</h5>
    <%= link_to "ブレストを始める", set_path, class: "waves-effect waves-light btn", style: "width: 250px; border-radius: 10rem;" %>
  </div>
  <div class="center-align white-text" style="position: absolute; bottom: 1rem;">
    <p>more info.</p>
    <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<div class="bg-sticky">
  <div class="container section center-align py-5">
    <h5 class="font-851tegaki-zatsu" style="line-height: 3rem; font-weight: bold;">"とりあえずブレスト"は<br>ひとりで気軽に<br>ブレストできるサービスです。</h5>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container section center-align">
    <h4 class="my-2">Features</h4>
    <div class="row">
      <%= render 'feature_card', title: "Simple", text: "直感的に使えるシンプルな操作性！" %>
      <%= render 'feature_card', title: "Solo", text: "ひとりでブレストに没頭しよう！" %>
      <%= render 'feature_card', title: "Share", text: "課題や結果をみんなと共有し合おう！" %>
    </div>
  </div>
</div>

<div class="yellow lighten-2">
  <div class="container section center-align">
    <h4 class="my-2">4 Rules</h4>
    <div class="row mb-5">
      <%= render 'rule_card', text_en: "Withhold criticism", text_jp: "判断・結論を出さない" %>
      <%= render 'rule_card', text_en: "Welcome wild ideas", text_jp: "粗野な考えを歓迎する" %>
      <%= render 'rule_card', text_en: "Go for quantity", text_jp: "量を重視する" %>
      <%= render 'rule_card', text_en: "Combine and improve", text_jp: "アイデアを結合し発展させる" %>
    </div>
    <%= link_to "ブレストを始める", set_path, class: "waves-effect waves-light btn mb-5", style: "width: 250px; border-radius: 10rem;" %>
  </div>
</div>
