<div id="eye_catch" class="vh-center">
  <div class="center-align">
    <div><%= svg_tag "hero_logo.svg", class: "logo" %></div>
    <%= link_to "ブレストを始める", set_path, id: :start_first_button, class: "waves-effect waves-light btn", style: "width: 250px; border-radius: 10rem;", method: :post %>
    <div class="mt-5">
      <a id="share_twitter_icon" class="fab fa-twitter mr-1 white-text center-align sns-icon" style="background-color: #55acee;" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.toriaezu-brasto.tk&hashtags=SBRST" target="_blank"></a>
      <a class="fab fa-facebook-f white-text center-align sns-icon" style="background-color: #3B5998;" href="https://www.facebook.com/dialog/share?app_id=832453100439280&display=popup&href=https%3A%2F%2Fwww.toriaezu-brasto.tk" target="_blank"></a>
    </div>
  </div>
  <div class="center-align grey-text text-darken-4" style="position: absolute; bottom: 1rem;">
    <p class="my-0">more info.</p>
    <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<%= render "layouts/advertise" %>

<div class="bg-sticky">
  <div class="container section center-align py-5">
    <h5 class="font-851tegaki-zatsu" style="line-height: 3rem; font-weight: bold;">"とりあえずブレスト"は<br>ひとりで気軽に<br>ブレストできるサービスです。</h5>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container section center-align">
    <h4 class="my-2">3 Features</h4>
    <div class="row">
      <%= render 'feature_card', title: "Simple", text: "直感的な操作性！" %>
      <%= render 'feature_card', title: "Solo",   text: "ひとりでじっくり！" %>
      <%= render 'feature_card', title: "Share",  text: "みんなと共有！" %>
    </div>
  </div>
</div>

<div class="yellow">
  <div class="container section center-align">
    <h4 class="my-2">4 Rules</h4>
    <div class="row mb-5">
      <%= render 'rule_card', text_en: "Withhold criticism", text_jp: "判断・結論を出さない" %>
      <%= render 'rule_card', text_en: "Welcome wild ideas", text_jp: "粗野な考えを歓迎する" %>
      <%= render 'rule_card', text_en: "Go for quantity", text_jp: "量を重視する" %>
      <%= render 'rule_card', text_en: "Combine and improve", text_jp: "アイデアを結合し発展させる" %>
    </div>
    <%= link_to "ブレストを始める", set_path, id: :start_second_button, class: "waves-effect waves-light btn mb-5", style: "width: 250px; border-radius: 10rem;", method: :post %>
  </div>
</div>
