<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/title' %>
    <%= render "layouts/meta_tag" %>
    <%= render 'layouts/ogp' %>
    <%= render 'layouts/gtm_head' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5506228292313271",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <%= render "layouts/gtm_body" %>

    <%= render 'layouts/header' %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

  </body>

</html>
