<!DOCTYPE html>
<html>
  <head>
    <title>とりあえずブレスト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "layouts/meta_tag", locals: { adsense: false } %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column h-100" cz-shortcut-listen="true">
    <%= render partial: "layouts/body_tag" %>
    <nav class="navbar bg-primary flex-shrink-0">
      <%= image_tag "logo_typeB.png", id: "logo", class: "navbar-brand p-0", style: "height: 36px;" %>
    </nav>

    <main role="main" class="flex-shrink-0">
      <%= yield %>
    </main>
  </body>

</html>
