<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/title' %>
    <%= render 'layouts/meta_tag' %>
    <%= render 'layouts/ogp' %>
    <%= render 'layouts/gtm_head' %>
  </head>

  <body>
    <%= render "layouts/gtm_body" %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>

</html>
